<div class="b-popup b-popup">
    <div class="b-popup__header">
        <span ng-if="!keshigCtrl.optionFormUpdate">Add Deploy option</span>
        <span ng-if="keshigCtrl.optionFormUpdate">Edit Deploy option</span>
        <a href ng-click="closeThisDialog()">
            <img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
        </a>
    </div>
    <form ng-submit="keshigCtrl.proceedOption(keshigCtrl.currentOption)">
        <div class="b-popup__body">

            <div class="popup-body-box">
                <label class="b-popup-body-label">Enter name</label>
                <input  type="text"
                        ng-model="keshigCtrl.currentOption.name"
                        ng-disabled="keshigCtrl.optionFormUpdate"
                        class="b-popup-body-input b-popup-body-input_box ng-pristine ng-untouched ng-valid"
                        required>
                <div class="clear"></div>
            </div>
            <div class="popup-body-box">
                <label class="b-popup-body-label b-btn_margin-r">Enter branch/commit/tag</label>
                <input type="text"
                       ng-model="keshigCtrl.currentOption.branch"
                       class="b-popup-body-input b-popup-body-input_box ng-pristine ng-untouched ng-valid"
                       required>
                <div class="clear"></div>
            </div>

        </div>
        <div class="b-popup__footer">
            <button class="b-btn b-btn_green g-right" type="submit">
                <span ng-if="!keshigCtrl.optionFormUpdate">Add</span>
                <span ng-if="keshigCtrl.optionFormUpdate">Update</span>
            </button>
            <div class="clear"></div>
        </div>
    </form>
</div>
