<div class="b-data-table">
	<table datatable="ng"
		dt-options="keshigCtrl.dtOptions"
		dt-column-defs="keshigCtrl.dtColumnDefs"
		dt-instance="keshigCtrl.dtInstance"
		class="row-border hover">
		<thead>
		<tr>
			<td>Name</td>
			<td>Target IPs</td>
			<td>Playbooks</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="option in keshigCtrl.optionsByType['TEST'] track by $index">
			<td>{{ option.name }}</td>
			<td>
				<label ng-repeat="targetIP in option.targetIps">{{ targetIP }}<br/></label>
			</td>
			<td>
				<label ng-repeat="playbook in option.playbooks">{{ playbook }}<br/></label>
			</td>
			<td>
				<span class="b-btn b-btn_green" ng-click="keshigCtrl.runOptionForm(option.name)">RUN</span>
			</td>
			<td>
				<a href class="b-icon b-icon_edit" style="visibility: visible;"
				   tooltips
				   tooltip-template="Edit"
				   ng-click="keshigCtrl.editOption(option)">
				</a>
			</td>
			<td>
				<a href class="b-icon b-icon_remove"
				   tooltips
				   tooltip-template="Delete"
				   ng-if="resourceHost.peer !== 'NONE'"
				   ng-click="keshigCtrl.deleteOption(option.name)">
				</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>

