<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="tracker"
             interface="io.subutai.core.tracker.api.Tracker" />
  <reference id="networkManager"
             interface="io.subutai.core.network.api.NetworkManager" />
  <reference id="peerManager" availability="mandatory"
             interface="io.subutai.core.peer.api.PeerManager" />
  <reference id="pluginDAO" interface="io.subutai.plugin.common.api.PluginDAO" />
  <!-- ************************************************************************************************** -->

  <bean id="keshigqd-impl" scope="singleton" class="io.subutai.plugin.keshig.impl.KeshigImpl"
        init-method="init" destroy-method="destroy">
    <property name="tracker" ref="tracker" />
    <property name="peerManager" ref="peerManager" />
    <property name="networkManager" ref="networkManager" />
    <argument ref="pluginDAO" />
  </bean>

  <service ref="keshigqd-impl" interface="io.subutai.plugin.keshig.api.Keshig" />


  <service ref="module" interface="io.subutai.webui.api.WebuiModule" />

  <bean id="module" scope="singleton" class="io.subutai.plugin.keshig.impl.KeshigWebModule">
  </bean>

</blueprint>
