<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="keshig" availability="mandatory"
             interface="io.subutai.plugin.keshig.api.Keshig" />

  <reference id="tracker"
             interface="io.subutai.core.tracker.api.Tracker" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">

    <command name="keshigqd/list-server">
      <action class="io.subutai.plugin.keshig.cli.server.ListServers">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/set-server">
      <action class="io.subutai.plugin.keshig.cli.server.SetupServer">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/clone">
      <action class="io.subutai.plugin.keshig.cli.operation.CloneCommand">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/build">
      <action class="io.subutai.plugin.keshig.cli.operation.BuildCommand">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/deploy">
      <action class="io.subutai.plugin.keshig.cli.operation.DeployCommand">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/test">
      <action class="io.subutai.plugin.keshig.cli.operation.TestCommand">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/list-builds">
      <action class="io.subutai.plugin.keshig.cli.builds.ListBuilds">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/list-packages">
      <action class="io.subutai.plugin.keshigqd.cli.builds.ListDependencies">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/list-option">
      <action class="io.subutai.plugin.keshig.cli.option.ListOptions">
        <property name="keshig" ref="keshig" />
      </action>
    </command>

    <command name="keshigqd/add-clone">
      <action class="io.subutai.plugin.keshig.cli.option.AddCloneOption">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/add-test">
      <action class="io.subutai.plugin.keshig.cli.option.AddTestOption">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/add-deploy">
      <action class="io.subutai.plugin.keshig.cli.option.AddDelpoyOption">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/add-build">
      <action class="io.subutai.plugin.keshig.cli.option.AddBuildOption">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
    <command name="keshigqd/run-default">
      <action class="io.subutai.plugin.keshig.cli.operation.RunDefaultsCommand">
        <property name="keshig" ref="keshig" />
      </action>
    </command>
  </command-bundle>

</blueprint>
