<div class="b-workspace-content b-workspace-content_border">
	<div class="b-workspace-content__row" style="text-align: left">
		<span class="b-btn b-btn_blue" ng-click="keshigCtrl.addOption()">
			<span class="fa fa-plus"></span>
			<span>Add option</span>
		</span>
		<select
			class="b-form-input b-form-input"
			ng-model="keshigCtrl.optionType"
			ng-change="keshigCtrl.changeOptionsType()"
			ng-options="optionType for optionType in keshigCtrl.optionsType"
			required>
		</select>
	</div>
	<div class="b-workspace-content__row">
		<div
				ng-if="keshigCtrl.optionType == 'DEPLOY'"
				ng-include="'plugins/keshig/partials/options/deploy.html'">
		</div>

		<div
				ng-if="keshigCtrl.optionType == 'TEST'"
				ng-include="'plugins/keshig/partials/options/test.html'">
		</div>
	</div>
</div>
