<div class="b-workspace-content b-workspace-content_border">
	<div class="b-workspace-content__row" style="text-align: left">
		<span class="b-btn b-btn_blue" ng-click="keshigCtrl.addProfile()">
			<span class="fa fa-plus"></span>
			<span>Add profile</span>
		</span>
	</div>
	<div class="b-data-table">
		<div class="b-data-table">
			<table datatable="ng"
				   dt-options="keshigCtrl.dtOptions"
				   dt-column-defs="keshigCtrl.dtColumnDefs"
				   dt-instance="keshigCtrl.dtInstance"
				   class="row-border hover subt_table-containers-table">
				<thead>
				<tr>
					<td>Name</td>
					<td>Deploy</td>
					<td>Test</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="profile in keshigCtrl.profiles">
					<td>{{ profile.name }}</td>
					<td>
						{{ profile.deployServer }} / {{ profile.deployOption }}
					</td>
					<td>
						{{ profile.testServer }} / {{ profile.testOption }}
					</td>
					<td>
						<span class="b-btn b-btn_green" ng-click="keshigCtrl.runProfile(profile.name)">RUN</span>
					</td>
					<td>
						<a href class="b-icon b-icon_edit" style="visibility: visible;"
						   tooltips
						   tooltip-template="Edit"
						   ng-click="keshigCtrl.editProfile(profile)">
						</a>
					</td>
					<td>
						<a href class="b-icon b-icon_remove"
						   tooltips
						   tooltip-template="Delete"
						   ng-click="keshigCtrl.deleteProfile(profile.name)">
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
