<div class="b-popup b-popup_max">
    <div class="b-popup__header">
        Peer Info
        <a href ng-click="closeThisDialog()">
            <img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
        </a>
    </div>
    <div class="b-popup__body">
        <table class="b-main-table b-main-table_with-header b-main-table_white-header">
            <tbody>
            <tr ng-repeat="item in keshigCtrl.resourceHostInfo track by $index">
                <td class="b-title">{{item.key}}</td>
                <td>{{item.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="b-popup__footer">
    <div class="clear"></div>
    </div>
</div>
