<div class="b-workspace-content b-workspace-content_border">
    <div class="b-workspace-content__row" style="text-align: right">
        <button class="b-btn b-btn_green" ng-click="keshigCtrl.getResourceHostsUpdates()">Update</button>
    </div>
    <div class="b-data-table">
        <table datatable="ng" ng-show="keshigCtrl.resourceHostsStatuses.length > 0"
               dt-options="keshigCtrl.dtOptions"
               dt-column-defs="keshigCtrl.dtColumnDefs"
               class="row-border hover subt_table-containers-table">
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Peer IP Address</th>
                    <th>Last Updated</th>
                    <th>Comment</th>
                    <th>Used By</th>
                    <th>Free</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="resourceHost in keshigCtrl.resourceHostsStatuses track by $index">
                <td>{{ resourceHost.hostname }}</td>
                <td>{{ resourceHost.peer.ip ? resourceHost.peer.ip : resourceHost.peer }}</td>
                <td>{{ resourceHost.lastUpdated }}</td>
                <td>{{ resourceHost.peer.comment ? resourceHost.peer.comment : 'null' }}</td>
                <td>{{ resourceHost.peer.usedBy ? resourceHost.peer.usedBy : 'null' }}</td>
                <td>{{ resourceHost.peer.free !== undefined ? resourceHost.peer.free : '' }}</td>
                <td>
					<a href class="b-icon b-icon_info" 
			 			tooltips 
			 			tooltip-template="Info" 
						ng-click="keshigCtrl.showPeerInfo(resourceHost)">
					</a>
  
					<a href class="b-icon b-icon_edit" style="visibility: visible;" 
			 			tooltips 
			 			tooltip-template="Edit"
                        ng-if="resourceHost.peer !== 'NONE'"
						ng-click="keshigCtrl.editPeerData(resourceHost)">
					</a>

					<a href class="b-icon b-icon_remove"
                       tooltips
                       tooltip-template="Unapprove"
                       ng-if="resourceHost.peer !== 'NONE'"
                       ng-click="keshigCtrl.unapproveResourceHost(resourceHost)">
					</a>					
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
