<div class="b-workspace-content b-workspace-content_border">
	<div class="b-workspace-content__row">
		<div class="b-data-table">
			<table datatable="ng"
				dt-options="keshigCtrl.dtOptions"
				dt-column-defs="keshigCtrl.dtColumnDefs"
				dt-instance="keshigCtrl.dtInstance"
				class="row-border hover">
				<thead>
				<tr>
					<th>Name</th>
					<th>Id</th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="server in keshigCtrl.servers">
					<td>{{ server.serverName }}</td>
					<td>{{ server.serverId }}</td>
					<td style="text-align: center">
						<span class="b-icon_add" ng-if="!server.added" ng-click="keshigCtrl.addServer(server.serverId)">
							<span style="padding-right: 5px">Add</span>
							<span class="fa fa-plus"></span>
						</span>
						<span class="fa fa-check b-btn-light-grey-icon_green" ng-if="server.added"></span>
					</td>
					<td>
						<a href
						   class="b-icon b-icon_remove"
						   ng-if="server.added"
						   ng-click="keshigCtrl.deleteServer(server.serverId)"></a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="clear"></div>
	</div>
</div>
